body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gray-light-border {
  border: 1px solid rgb(211,211,211) !important;  
}

.gray-light-color {
  color: rgb(139, 134, 134) !important;  
}

.gray-dark-color {
  color: rgb(88,88,88) !important;  
}

.btn {
  box-shadow: nome !important;
}

.btn-outline-success:hover {
  background-color: white;
  color: #198754;
  border-color: #198754;
  text-decoration: none;
}


.btn-outline-danger:hover {
  background-color: white;
  color: #dc3545;
  border-color: #dc3545;
  text-decoration: none;
}